/coap/.idea
/coap/src/test
/DB/.idea
/gui/package-lock.json
/gui/README.md
/gui/.idea
/gui/node_modules
/gui/public
/gui/package.json
/SIM/.idea
/DataCenter/src/test
/SIM/model/__pycache__/*
/SIM/views/__pycache__/*
/SIM/process/__pycache__/*
/SIM/__pycache__/*
/coap/target/*
/DataCenter/logs/*
*.class
